<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    <script src="{% static "js/base.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>KarbonBloc</title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="{% url 'user_registration:welcome' %}">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About Us</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'user_registration:welcome' %}">Consumption History</a></li>
      {% else %}
      <li><a href="{% url 'user_registration:register' %}">Register</a></li>
        {% endif %}
      {% if user.is_authenticated %}
        <li><a href="{% url 'user_registration:user_logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'user_registration:user_login' %}">Login</a></li>
        {% endif %}
    </ul>

    <div class="container">
    {% block body_block%}
    {% endblock%}
  </div>
  </body>
</html>
