{% extends 'user_registration/base.html' %}
{% block body_block %}


<div class="loginform">
    <form action="{% url 'user_registration:user_login' %}" method="post" align="center">
      {% csrf_token %}
      <table>
        <tr>
          <td>
<input type="text" placeholder="name@example.com" name="username">
          </td>
        </tr>
        <tr>
          <td>
<input type="password" placeholder="Password" name="password">
          </td>
        </tr>
        <tr>
          <td>
  <input type="submit" name="" value="Login">
          </td>
        </tr>
      </table>



    </form>
</div>

{% endblock %}
